ENVIRONMENT=production
EXPRESS_PORT=

# LOGGING
LOG_LOCATION=logs/runtime-%DATE%.log # %DATE% Converts to YYYYMMDD
LOG_CONSOLE_LEVEL='unit' # lowest log for console logging
LOG_FILE_LEVEL='unit' # lowest log for file logging
LOG_ROTATE_PERIOD=30d # log rotation period
LOG_DEBUG_MODE=false # i dont remember what this does